* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #444;
}

a {
  text-decoration: none;
  color: #df5356;
  transition: color 0.3s;
  font-weight: 600;
}

a:hover {
  color: #444;
}

header {
  background: #df5356;
  height: 8em;
}

main{
  margin: 0 auto;;
  width: 90%;
}

#mainPhoto {
  width: 60%;
  float: left;
  margin-top: -4em;
}

#mainPhoto img {
  width: 100%;
  border-radius: 8px;
}

#mainQuote {
  padding: 0 1em;
  width: 40%;
  float: left;
  font-size: 1.25em;
}

#mainQuote span {
  font-size: 0.75em;
}

#mainButtons {
  margin-bottom: 0.25em;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainButtons a {
  padding: 0 .25em;
  font-size: 5em;
  color: #7D1128;
  transition: color 0.3s;
  cursor: pointer;
}

#mainButtons a:hover {
  filter: opacity(0.5);
}

footer {
  border-top: 2px solid #df5356;
  text-align: center;
  font-size: 0.85em;
}

.shadow {
  filter: drop-shadow(0 15px 20px rgba(0,0,0,0.3));
}
